html {
  scroll-behavior: smooth;
}

body {
	color: #000814;
}

p, li {
font-size: 1.25rem;
font-weight: 300;
}

.jumbotron img {
	max-height:500px;
}

.jumbotron {
  padding: 30px;
  background-color: #e9ecef;
}

.carousel-border {
	padding: 2px;
	background-color: #e9ecef;
}

.linkedin {
  background-color: #F3D34A; 
  border: none;
  color: #000814;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkedin:hover {
	color:#000814;
}

footer .row {
	padding: 10px;
}

footer a {
	color: black;
}

.social {
	height:30px;	
}

.block {
	margin-top:60px;
	margin-bottom:60px;
}

.display-3, .display-4 {
	margin-bottom:15px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

li {
	margin-bottom:20px;
}


.skill {
	padding:15px;
}

.back {
	height:100%;
	padding: 30px;
	background-color: #e9ecef;	
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 20px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #e9ecef; 
  color: #000814;
  padding: 10px; /* Some padding */
}

#myBtn:hover {
  border: dashed 1px #000814 /* Add a dark-grey background on hover */
}

.carousel-caption {
	background-color: rgba(0, 0, 0,0.5);
}
/* Portfolio CSS*/

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(33, 37, 41, 0.4);
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
	margin:15px;
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-top: 5rem;
  }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

blockquote {
	position: relative;
	margin: 40px 0;
	padding: 1.6em 2.4em .7em calc(1.4em + var(--quote-image-width));
	font: italic 1rem;
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
	text-indent: 1.6em;
}

blockquote p {
  
    font-size: 1rem;
    font-weight: 100;
    
}